* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', sans-serif;
}

header .container-fluid {
    background-color: #808080;
    position: sticky;
    top: 0;
    border-bottom: #000 solid 1px;
    z-index: 1000;
}

button {
    margin: 0;
    background-color: rgb(121, 8, 27);
    border: #000 solid 2px;
    color: #FFF;
    border-radius: 2px;
}

button:hover {
    background-color: rgb(226, 122, 140);
    border: #000 solid 1.5px;
    color: #000;
}


.toHome {
    font-size: 16px;
    color: #FFF;
    background-color: rgb(121, 8, 27);
    border: #000 solid 1.5px;
    padding: 5px 10px;
    display: inline-block;
    margin-top: 20px;
}

.home {
    padding-bottom: 20px; 
}

.toHome:hover {
    background-color: rgb(121, 8, 27);
    border: #000 solid 1.5px;
}

.buttons {
    padding-top: 25px;
    display: inline-block;
}

.buttons a {
    border: #000 solid 1.5px;
    background-color: rgb(121, 8, 27);
    margin: 0 4px;
}

.buttons a:hover {
    background-color: rgb(226, 122, 140);
    border: #000 solid 1.5px;
    color: #000;
}

.btn-sm {
    padding: auto;
    font-size: 10px;
}

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.banner img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
}

.phone {
    padding-left: 25px;
}

.location {
    padding-right: 10px;
}

.HOO {
    padding-right: 28px;
    justify-content: center;
}

.HOOP p {
    line-height: 12px;
    padding-bottom: none;
}

#selected {
    background-color: rgb(255, 255, 255);
    color: #000;
}
 
footer .container-fluid {
    background-color: #808080;
    padding: 10px 0;
}

footer .col {
    margin-bottom: 10px;
    text-align: left;
    padding-left: 60px;
}

footer .row {
    justify-content: center;
}

footer p {
    font-size: 12px;
    margin-left: 4px;
    color: #FFF; 
}

footer h5 {
    color: #FFF; 
    font-size: 16px;
}

.container h3{
    text-align: center;
    padding-top: 2%;

}
.container p{
    text-align: center;


}
.toHOme{
    text-align: center;
    padding-bottom: 5%;
}

.toHOme a{
    color: #ffffff;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
  }




.toHOme a:hover {
    background-color: rgb(226, 122, 140);
    text-decoration: none;
   
    color: #000;
}
